.fontfam{
font-family: 'garamond', Courier, monospace;
font-size: 30px;
font-weight: 400;
font-style: normal;
color: #586268;
line-height: 1.2em;
letter-spacing: 0em;

background-color: #eeeeee;
border-radius: 10px;
  
}
.jumbotron .h1 {
    font-size: 30px;
  color: inherit;
   font-family: 'garamond', Courier, monospace; 
};