<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron" style="text-align:center;">
    <h1>
      {{ title }}
    </h1>
  </div>
  <hr>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">PORTFOLIO</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/about">ABOUT</a></li>
        <li><a routerLink="/resume">RESUME</a></li>
        <li><a routerLink="/projects">PROJECT</a></li>
        <li><a routerLink="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>
  <hr>

  <router-outlet>
   
  </router-outlet>
</div>